@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #1abc9c;
  overflow: hidden;
}

.container {
   max-width: 440px; 
   padding : 0 20px; 
   margin: 170px auto;
}

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.wrapper .title {
  line-height: 80px;
  background: #16a085;
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  color:#fff;
  font-weight: 600;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  padding-left: 60px;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border-radius: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .sign-up a{
  margin-left: 2px;
} */
.sign-up {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.sign-up a {
    
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}

.sign-up a:hover {
    text-decoration: underline;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Ensures it aligns with input field width */
  height: 45px;
  border: none;  /* Removes default border */
  background-color: #16a085;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Add a border radius here */
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #138d75; /* Darkens color on hover */
}